.SliderContainer {
  display: block;
  width: 50%;
  padding: 5%;
  border-radius: 2rem;
  background-color: var(--tertiary);
}

.Slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 2em;
  background: var(--secondary);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.Slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

.Slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

.SliderElement {
  display: inline-block;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ProgressBarContainer {
  margin: 10%;
}
