@import './../../constants.css';

.Main {
  width: 325px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 667px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 45;
  border: 2px solid var(--brown);
  border-radius: 2rem;
  background-color: var(--beige);
  color: var(--brown);
}

/* @media (min-width: 500px) and (min-height: 400px) {
  .Main {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Main {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1334px) and (min-height: 750px) {
  .Main {
    width: 1334px;
    height: 750px;
  }
} */
